.search-container{
    display:flex;
    justify-content:center;
    margin:10px;
}

.search-input{
    padding:15px;
    font-size:20px;
    width:250px;
    border-width:0;
    background-color:#e7e9f0;
    color:#0f1228;
    border-radius:50px;
    box-shadow:0 0 5px rgba(255,255,255,0.5);
}

.search-input::placeholder{
    color:#0f1228;
}

.search-input:focus{
    outline:none;
}